name: Culprit Finder Workflow

on:
  workflow_dispatch:
    inputs:
      workflow-to-debug:
        description: "Which workflow should be run?"
        type: string
        default: ""
        required: true
      json_vars:
        type: string
        description: 'A JSON string of key-value pairs that will be passed as environment variables to the workflow. (e.g., {"NAME": "test", "VERSION": "1.2.3"})'
        required: false
        default: '{}'


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}


jobs:
  bisect-test-workflow:
    if: ${{ inputs.workflow-to-debug == 'test_workflow.yml' }}
    uses: ./.github/workflows/test_workflow.yml
    
    name: Bisect Build and Test
